<div class="account-card">
  <div *ngIf="accountState.loading$ | async as error">
    {{ 'loading...' }}
  </div>
  <div *ngIf="accountState.error$ | async as account">
    {{ 'Could not get account balance' }}
  </div>
</div>
<div *ngIf="accountState.content$ | async as account">
  <savings-io-savings-card *ngIf="account.accountType === 'SAVINGS'" [savingsAccount]="account">
  </savings-io-savings-card>
  <savings-io-investment-card *ngIf="account.accountType === 'INVESTMENT'" [investmentAccount]="account">
  </savings-io-investment-card>
</div>
