<div class="dashboard">
  <mat-card class="main-account-card">
    <mat-card-content>
      <mat-card-title id="title">
        {{ 'Balance' }}
      </mat-card-title>
      <mat-divider class="divider"></mat-divider>
      <mat-card-content id="balance">
        <div>
          <div *ngIf="userAccountState.content$ | async as userAccount">
            {{ userAccount.totalBalance + ' ' + userAccount.currency }}
          </div>
          <div *ngIf="userAccountState.error$ | async">
            <mat-icon [matTooltipPosition]="'right'" [matTooltip]="'Could not get account balance'" color="warn"
              >error_outline
            </mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card-content>
    <mat-card-footer *ngIf="userAccountState.loading$ | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <div *ngIf="userAccountState.content$ | async as userAccount">
    <div class="sub-accounts">
      <div *ngFor="let accountId of userAccount.subAccountsIds">
        <savings-io-account-card [accountId]="accountId"></savings-io-account-card>
      </div>
    </div>
  </div>
</div>
